* {
    margin: 0;
    padding: 0;
}
body {
  background-color: #010101;
  position: relative;
}
 a {
  background-color: #010101;
 }
.swiper {
  width: 100%;
  height: 100%;

}

.swiper img {
  width: 100%;
  height: 671px;
}
.image-wrapper {
  margin-left: 200px;
  width: 50px;
  height: 50px;
}
.image-wrapper img.hover {
    display: none;
}

.image-wrapper:hover img.normal {
    display: none;
}
.image-wrapper:hover img.hover {
  display: inline;
}

h2, h3 {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  left: 13%;
}
h2 {
  font-family: 'Bold';
  top: 1%;
 font-size: 64px;
 z-index: 1000;
}
h3 {
  font-family: 'Medium';
  top:10%;
  font-size: 50px;
}

.container {
  width: 100%;
  height: 800px;
  background-color: #010101;
  margin-top: 50px;
  position: relative;
  z-index: 1;
}
.swiper-button-next {
  background-image: url(../img/swiper-droit.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100px;
  height: 68px;
  margin-right: 28px;
}

.swiper-button-next::after {
  display: none;
}


.swiper-button-prev {
  background-image: url(../img/swiper-gauche.png);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 59px;
  height: 68px;
  margin-left: 28px;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-prev:hover {
  background-image: url(../img/swiper-hover-gauche.png);
}

.swiper-button-next:hover {
  background-image: url(../img/swiper-hover-droit.png);
}

@media only screen and (max-width: 1000px) {
  h2 {
   font-size: 32px;

  }
  h3 {
    font-size: 25px;
  }
  
}

@media only screen and (max-width: 500px) {
  .image-wrapper {
    margin-left: 60px;
    width: 50px;
    height: 50px;
  }
}

