
footer {
    width: 100%;
    height: 276px;
    flex-shrink: 0;
    background: #222;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    border-color: rgba(242, 244, 255, 0.60);
}

.footera{
    text-decoration: none;
    color: rgba(242, 244, 255, 0.60);
    padding-left: 30px;
    display: flex;
}

.logoreseaux {
    width: 38px;
    height: 38px;
}

.MGCS {
    display: inline;
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-right: 2px solid rgba(242, 244, 255, 0.60);
    width: 215.55px;
}


.equipe {
    display: flex;
    width: 111px;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.services {
    display: flex;
    width: 111px;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.contacts {
    display: flex;
    width: 78px;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.Mail {
    color: rgba(242, 244, 255, 0.60)
}

.Rubriques {
    display: flex;
}