body {
    background-color: #010101;
}

.nosservices {
    margin-top: 30px;
    background-color: #010101;
    height: 750px;
}

.nosservices h1 {
    font-family: 'Bold';
    color: #F2F4FF;;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
}

.nosservices h2 {
    font-family: 'Bold';
    color: #F2F4FF;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.nosservices h3 {
    font-family: 'Medium';
    text-align: center;
    margin-bottom: 15px;
}
.nosservices p {
    margin-top: 15px;
    text-align: justify;
    width: 300px;
    font-size: 17px;
    font-weight: 400;

}
.rectangle-service {
    display: flex;
    flex-direction: column;
}

.rectangle-service-row {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #F2F4FF;
}

@media only screen and (max-width: 950px) {
    .rectangle-service-row {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }
    .nosservices {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .rectangle-service {
       margin-top: 30px;
       margin-bottom: 30px;
    }
}