.nosservices {
    background-color: rgba(36, 28, 29, 1);
}

.nosservices h1 {
    color: #F2F4FF;;
    text-align: center;
    font-weight: 500;
    font-size: 64px;
}

.nosservices h2 {
    color: #F2F4FF;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.nosservices h3 {
    text-align: center;
    margin-bottom: 15px;
}
.nosservices p {
    margin-top: 15px;
    text-align: justify;
    width: 300px;
    font-size: 17px;
    font-weight: 400;

}
.rectangle-service {
    display: flex;
    flex-direction: column;
}

.rectangle-service-row {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #F2F4FF;
}