.polesrectangle {
    width: 100%;
    height: 861px;
    background-color: #222;
    font-family: Poppins;
}

.polesMGCS {
    color: #F2F4FF;
    font-size: 64px;
    font-weight: 500px;
    text-align: center;
    line-height: normal;
    padding-top: 23px;
}

.polesh2 {
    padding-top: 10px;
    font-size: 22px;
    font-weight: 300;
    color: #F2F4FF;
    text-align: center;
}

.polesdiffrectangle {
    margin-top: 80px;
    display: flex;
}

.polespodcast {
    background-color: #464646;
    width: 30%;
    height: 445px;
    color: #F2F4FF;
    font-size: 50px;
    font-weight: 400;
}
.polescourt {
    background-color: #606060;
    width: 40%;
    height: 445px;
    color: #F2F4FF;
    font-size: 50px;
    font-weight: 400;
}
.polesclip {
    background-color: #959595;
    width: 30%;
    height: 445px;
    color: #F2F4FF;
    font-size: 50px;
    font-weight: 400;
}