

body {
    background-color: #241C1D;
}


.conteneur {
    display: flex;
    flex-direction: row;
    background-color: rgba(36, 28, 29, 1);
    justify-content: space-between;
    margin-bottom: 200px;
    width: 100%;
    height: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    background-color: rgba(36, 28, 29, 1);
    justify-content: center;
    width: 70vw;
    height: 600px;
    margin-left: 50px;
}

a{
    background-color: rgba(36, 28, 29, 1);
}
.image-wrapper {
    width: 50px;
    height: 50px;
    margin-left: 20px;
    margin-right:50px;
}
.image-wrapper img.hover {
    display: none;
}

.image-wrapper:hover img.normal {
    display: none;
}

.image-wrapper:hover img.hover {
    display: inline;
}
.fleche {
    margin-top: 180px;
    margin-left: 70px;
    margin-right: 35px;
    width: 3%;
    display: flex;
    justify-content: center;
}

.image-wrapper img.hover {
    display: none;
}

.image-wrapper:hover img.normal {
    display: none;
}

.image-wrapper:hover img.hover {
    display: inline;
}

.text h2 {
    color: #F6F9ED;
    font-family: "Integral CF";
    font-size: 50px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text h3 {
    color: #F6F9ED;
    font-family: Paralucent-Medium;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;

}


.text p {
    flex-shrink: 0;
    color: #626262;
    font-family: Paralucent-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}




.equipe {
    display: flex;
    width: 111px;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.services {
    display: flex;
    width: 111px;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.contacts {
    display: flex;
    width: 78px;
    height: 26px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


@media only screen and (max-width: 900px) {

   .conteneur {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
   }

   .text {
    text-align: center;
    margin-left: 0px;
   }
   .fleche {
    margin-top: 30px;
     margin-bottom: 60px;
}

}

@media only screen and (max-width: 450px) {
    .photoequipe {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin-right: 0px;
    }
 }
 






