<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/header.css" rel="stylesheet">
    <link href="../asset/css/footer.css" rel="stylesheet">
    <link href="../asset/css/contact.css" rel="stylesheet">
    <title> Accueil </title>
</head>
<body>
<header> 
    <nav>
        <ul class="headernav">
            <li class="headerli"> <a class="headera" href = "/lien">Nos pôles </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Nos équipes </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Nos services </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Contacts </a> </li>
        </ul>
    </nav>
    <div class="headerlogo"></div>
</header>
<section class="rectangle-contact-global">
    <div class="first-rectangle">
    <a href="poles.html"> retour </a>
    <h1> ON TRAVAILLE ENSEMBLE ? </h1>
    <h4> Sur des clips, des courts-métrages ou d’autres projets audiovisuels.</h3>
   <h4> Contactez nous directement par mail ou <br>
    en passant par notre page Instagram !</h4>
    <h3> mgcs.corpo@gmail.com</h3>
    </div>
    <div class="second-rectangle">
        <h2> DITES BONJOUR ! </h2>
        <form action="treatmentmail" method="post">

        <input type="text" id="nom" name="nom" required placeholder="Nom" autocomplete="off">
        <input type="text" id="prenom" name="prenom" required placeholder="Prénom" autocomplete="off"> <br><br>
        <input type="email" id="email" name="email" required placeholder="Adresse Mail" autocomplete="off"><br><br>

        <textarea id="message" name="message" rows="4" required placeholder="Votre Message" autocomplete="off"></textarea><br><br>

        <input type="submit" value="ENVOYER MON MESSAGE">
        </form>
    </div>
</section>

<footer>
    <div class="MGCS">
        <a class="footera" href="CHEMIN DE LA PAGE DE D ACCUEIL"> MGCS </a>
    </div>
    <div class="Rubriques">
        <a class="footera" href="CHEMIN VERS LA PAGE NOTRE EQUIPE" class="equipe"> Notre équipe </a>
        <a class="footera" href="CHEMIN VERS LA PAGE NOS SERVICES" class="services"> Nos services </a>
        <a class="footera" href="CHEMIN VERS LA PAFE DE CONTACT" class="contacts"> Contacts</a>
    </div>
    <div class="reseaux">
        <div class="LienReseaux">
            <a href="ADRESSE DU LIEN INSTAGRAM" target="_blank"><img src="../asset/img/logo_instagram_gris.png"
                    class="logoreseaux"></a>
            <a href="ADRESSE DU LIEN TIK-TOK" target="_blank"><img src="../asset/img/logo_tiktok_gris.png"
                    class="logoreseaux"></a>
            <a href="ADRESSE DU LIEN YOUTUBE" target="_blank"><img src="../asset/img/logo_youtube_gris.png"
                    class="logoreseaux"></a>
            <a href="ADRESSE DU LIEN LINKEDIN" target="_blank"><img src="../asset/img/logo_linkedin_gris.png"
                    class="logoreseaux"></a>
        </div>
        <div class="Mail">
            <p> mgcs.corpo@gmail.com </p>
        </div>
    </div>

</footer>
</body>