{{define "contact"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/contact.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Contact </title>
</head>
<body>
    {{template "header.html" .}}
<section class="rectangle-contact-global">
    <div class="first-rectangle">
    <a href="/poles">        
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche.png">
        <img class="hover" src="/static/img/fleche-rouge.png">
    </div>
    </a>
    <h1> ON TRAVAILLE ENSEMBLE ? </h1>
    <h4> Sur des clips, des courts-métrages ou d’autres projets audiovisuels.</h3>
   <h4> Contactez nous directement par mail ou <br>
    en passant par notre page Instagram !</h4>
    <h3> mgcs.corpo @ gmail.com</h3>
    </div>
    <div class="second-rectangle">
        <h2> DITES BONJOUR  </h2>
        <form  method="post" action="/treatmentmail">

        <input type="text" id="nom" name="nom" required placeholder="Nom" autocomplete="off">
        <input type="text" id="prenom" name="prenom" required placeholder="Prénom" autocomplete="off"> <br><br>
        <input type="email" id="email" name="email" required placeholder="Adresse Mail" autocomplete="off"><br><br>

        <textarea id="message" name="message" rows="4" required placeholder="Votre Message" autocomplete="off"></textarea><br><br>

        <input type="submit" value="ENVOYER MON MESSAGE">
        </form>
    </div>
</section>


{{template "footer.html" .}}
{{end}}