{{define "contact"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/contact.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="/poles">NOS POLES</a>
           <a href="/equipe">NOTRE EQUIPE</a>
           <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
           <a href="/services"> NOS SERVICES</a>
           <a href="/contact"> CONTACTS</a>
        </nav>
    </header>
<section class="rectangle-contact-global">
    <div class="first-rectangle">
    <a href="/poles"> retour </a>
    <h1> ON TRAVAILLE ENSEMBLE ? </h1>
    <h4> Sur des clips, des courts-métrages ou d’autres projets audiovisuels.</h3>
   <h4> Contactez nous directement par mail ou <br>
    en passant par notre page Instagram !</h4>
    <h3> mgcs.corpo@gmail.com</h3>
    </div>
    <div class="second-rectangle">
        <h2> DITES BONJOUR ! </h2>
        <form action="treatmentmail" method="post">

        <input type="text" id="nom" name="nom" required placeholder="Nom" autocomplete="off">
        <input type="text" id="prenom" name="prenom" required placeholder="Prénom" autocomplete="off"> <br><br>
        <input type="email" id="email" name="email" required placeholder="Adresse Mail" autocomplete="off"><br><br>

        <textarea id="message" name="message" rows="4" required placeholder="Votre Message" autocomplete="off"></textarea><br><br>

        <input type="submit" value="ENVOYER MON MESSAGE">
        </form>
    </div>
</section>


<footer class="footer">
    <div class="footer-container">
     <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
     <div class="footer-nav">
         <nav>
     <a href="/equipe">NOTRE EQUIPE</a>
     <a href="/services"> NOS SERVICES</a>
     <a href="/contact"> CONTACTS</a>
     </nav>
     <nav>
     <p>MGCS.CORPO@GMAIL.COM</p>
     <img src="/static/img/Logo Facebook.png">
     <img src="/static/img/Logo_Instagram.png">
 </nav>
     </div>
 </div>
 </footer>
{{end}}