{{define "courtmetrage"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/courtmetrage.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title> Court métrage </title>
</head>

<body>
    {{template "header.html" .}}

        <section class="container">
                <a href="/poles">
                    <div class="image-wrapper">
                        <img class="normal" src="/static/img/fleche.png">
                        <img class="hover" src="/static/img/fleche-rouge.png">
                    </div>
             </a>

             <section class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"> 
                        <h2> MGCS COURT METRAGE </h2>
                        <h3> Café noir et Cappuccino </h3>
                        <img src="/static/img/TestSwiper.webp">
                    </div>
                    <div class="swiper-slide"> 
                        <h2> MGCS COURT METRAGE </h2>
                        <h3> Morale à découvert </h3>
                        <img src="/static/img/TestSwiper.webp">
                    </div>
                    <div class="swiper-slide"> 
                        <h2> MGCS COURT METRAGE </h2>
                        <h3> Notre Première </h3>
                        <img src="/static/img/TestSwiper.webp">
                    </div>
      
            </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
        </section>
 


    </section>

    {{template "footer.html" .}}
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/static/js/courtmetrage.js"></script>
  
    {{end}}