{{define "courtmetrage"}}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/courtmetrage.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Court métrage </title>
</head>

<body>
    {{template "header.html" .}}
    <section>
        <div class="carousel-container">
            <div id="slide1" class="carousel-slide active">
                <a href="/poles">
                    <div class="image-wrapper">
                        <img class="normal" src="/static/img/fleche.png">
                        <img class="hover" src="/static/img/fleche-rouge.png">
                    </div>
                </a>
                <h1>MGCS Court Métrage</h1>
                <h3>Café noir et Cappuccino</h3>
                <div class="box"></div>
            </div>
            <div id="slide2" class="carousel-slide">
                <a href="/poles">
                    <div class="image-wrapper">
                        <img class="normal" src="/static/img/fleche.png">
                        <img class="hover" src="/static/img/fleche-rouge.png">
                    </div>
                </a>
                <h1>MGCS Court Métrage</h1>
                <h3>Morale à découvert</h3>
                <div class="box"></div>
            </div>
            <div id="slide3" class="carousel-slide">
                <a href="/poles">
                    <div class="image-wrapper">
                        <img class="normal" src="/static/img/fleche.png">
                        <img class="hover" src="/static/img/fleche-rouge.png">
                    </div>
                </a>
                <h1>MGCS Court Métrage</h1>
                <h3>Notre Première</h3>
                <div class="box"></div>
            </div>
            <a class="prev" onclick="moveSlide(-1)">
                <div class="image-wrapper">
                    <img class="normal" src="/static/img/fleche-gauche.png">
                    <img class="hover" src="/static/img/fleche-gauche-rouge.png">
                </div>
            </a>
            <a class="next" onclick="moveSlide(1)">
                <div class="image-wrapper">
                    <img class="normal" src="/static/img/fleche-droite.png">
                    <img class="hover" src="/static/img/fleche-droite-rouge.png">
                </div>
            </a>
        </div>
 


    </section>

    {{template "footer.html" .}}
    <script src="/static/js/courtmetrage.js"></script>
    {{end}}