<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/equipe.css" rel="stylesheet">
    <title> Notre équipe</title>
</head>
<body>
<header> 
    <nav>
        <ul class="headernav">
            <li class="headerli"> <a class="headera" href = "/lien">Nos pôles </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Nos équipes </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Nos services </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Contacts </a> </li>
        </ul>
    </nav>
    <div class="headerlogo"></div>
</header>
<section>
<div class="conteneurequipe1">
    <div class="fondateurs">
        <h1>Fondateurs</h1>
    </div>
    <div class="link">
        <a class="photoequipe" href="#mon-ancre"><img src="../asset/img/photo.png"></a>
        <a class="photoequipe" href="#mon-ancre"><img src="../asset/img/photo.png"></a>
        <a class="photoequipe" href="#mon-ancre"><img src="../asset/img/photo.png"></a>
        <a class="photoequipe" href="#mon-ancre"><img src="../asset/img/photo.png"></a>
        <a class="photoequipe" href="#mon-ancre"><img src="../asset/img/photo.png"></a>
    </div>
</div>
<div class="conteneurequipe2">
    <div class="photogroupe">
        <!-- photo ou video de groupe -->
    </div>
    <p>À la base un groupe de 5 personnes, nous sommes aujourd'hui une association <br> comptant une vingtaine de membres tous passionnés par l'audiovisuel.</p>
    

</div>



</section>
<footer>
    <div class="MGCS">
        <a class="footera" href="CHEMIN DE LA PAGE DE D ACCUEIL"> MGCS </a>
    </div>
    <div class="Rubriques">
        <a class="footera" href="CHEMIN VERS LA PAGE NOTRE EQUIPE" class="equipe"> Notre équipe </a>
        <a class="footera" href="CHEMIN VERS LA PAGE NOS SERVICES" class="services"> Nos services </a>
        <a class="footera" href="CHEMIN VERS LA PAFE DE CONTACT" class="contacts"> Contacts</a>
    </div>
    <div class="reseaux">
        <div class="LienReseaux">
            <a href="ADRESSE DU LIEN INSTAGRAM" target="_blank"><img src="../asset/img/logo_instagram_gris.png"
                    class="logoreseaux"></a>
            <a href="ADRESSE DU LIEN TIK-TOK" target="_blank"><img src="../asset/img/logo_tiktok_gris.png"
                    class="logoreseaux"></a>
            <a href="ADRESSE DU LIEN YOUTUBE" target="_blank"><img src="../asset/img/logo_youtube_gris.png"
                    class="logoreseaux"></a>
            <a href="ADRESSE DU LIEN LINKEDIN" target="_blank"><img src="../asset/img/logo_linkedin_gris.png"
                    class="logoreseaux"></a>
        </div>
        <div class="Mail">
            <p> mgcs.corpo@gmail.com </p>
        </div>
    </div>

</footer>
</body>
</html>