{{define "equipe"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/equipe.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    {{template "header.html" .}}
<section>
<div class="conteneurequipe1">
    <div class="fondateurs">
        <h1>Fondateurs</h1>
    </div>
    <div class="link">
        <a class="photoequipe" href="/solo1"><img src="static/img/mohamed.jpg" style="width: 250px;height: 543px;"></a>
        <a class="photoequipe" href="/solo2"><img src="static/img/steven.jpg" style="width: 250px;height: 543px;"></a>
        <a class="photoequipe" href="/solo3"><img src="static/img/gabriel.jpg" style="width: 250px;height: 543px;"></a>
        <a class="photoequipe" href="/solo4"><img src="static/img/cedric.jpg" style="width: 250px;height: 543px;"></a>

    </div>
</div>
<div class="conteneurequipe2">
    <div class="photogroupe">
        <img class="photogrp"src="static/img/PHOTOSTAFFMASTER.png" alt="photo de groupe">
    </div>
    <p>À la base un groupe de 5 personnes, nous sommes aujourd'hui une association <br> comptant une vingtaine de membres tous passionnés par l'audiovisuel.</p>
    

</div>
</section>

{{template "footer.html" .}}
{{end}}