{{define "equipe"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/equipe.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="/poles">NOS POLES</a>
           <a href="/equipe">NOTRE EQUIPE</a>
           <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
           <a href="/services"> NOS SERVICES</a>
           <a href="/contact"> CONTACTS</a>
        </nav>
    </header>
<section>
<div class="conteneurequipe1">
    <div class="fondateurs">
        <h1>Fondateurs</h1>
    </div>
    <div class="link">
        <a class="photoequipe" href="/solo1"><img src="static/img/photo.png"></a>
        <a class="photoequipe" href="/solo2"><img src="static/img/photo.png"></a>
        <a class="photoequipe" href="/solo3"><img src="static/img/photo.png"></a>
        <a class="photoequipe" href="/solo4"><img src="static/img/photo.png"></a>
        <a class="photoequipe" href="/solo5"><img src="static/img/photo.png"></a>

    </div>
</div>
<div class="conteneurequipe2">
    <div class="photogroupe">
        <!-- photo ou video de groupe -->
    </div>
    <p>À la base un groupe de 5 personnes, nous sommes aujourd'hui une association <br> comptant une vingtaine de membres tous passionnés par l'audiovisuel.</p>
    

</div>



</section>

<footer class="footer">
    <div class="footer-container">
     <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
     <div class="footer-nav">
         <nav>
     <a href="/equipe">NOTRE EQUIPE</a>
     <a href="/services"> NOS SERVICES</a>
     <a href="/contact"> CONTACTS</a>
     </nav>
     <nav>
     <p>MGCS.CORPO@GMAIL.COM</p>
     <img src="/static/img/Logo Facebook.png">
     <img src="/static/img/Logo_Instagram.png">
 </nav>
     </div>
 </div>
 </footer>
{{end}}