<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/footer.css" rel="stylesheet">
    <title> Accueil </title>
</head>
<header>

</header>

<footer class="footer">
   <div class="footer-container">
    <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
    <div class="footer-nav">
        <nav>
    <a href="/equipe">NOTRE EQUIPE</a>
    <a href="/services"> NOS SERVICES</a>
    <a href="/contact"> CONTACTS</a>
    </nav>
    <nav>
    <p>MGCS.CORPO@GMAIL.COM</p>
    <img src="/static/img/Logo Facebook.png">
    <img src="/static/img/Logo_Instagram.png">
</nav>
    </div>
</div>
</footer>