<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/style.css rel="stylesheet">
    <title> Accueil </title>
</head>
<header> 
    
</header>
<footer>
<div class="MGCS">
    <a href="CHEMIN DE LA PAGE DE D ACCUEIL"> MGCS </a>
</div>
<dic class="Rubriques">
    <a href="CHEMIN VERS LA PAGE NOTRE EQUIPE"> Notre équipe </a>
    <a href="CHEMIN VERS LA PAGE NOS SERVICES"> Nos services </a>
    <a href="CHEMIN VERS LA PAFE DE CONTACT"> Contacts</a>
</dic>
<div class="reseaux">
    <div class="LienReseaux">
        <a href="ADRESSE DU LIEN INSTAGRAM" target="_blank"><img src="../asset/img/instagram-logo.png" class="logoreseaux"></a>  
        <a href="ADRESSE DU LIEN TIK-TOK" target="_blank"><img src="../asset/img/logo-tiktok.webp" class="logoreseaux"></a>
        <a href="ADRESSE DU LIEN YOUTUBE" target="_blank"><img src="../asset/img/YouTube_logo.png" class="logoreseaux"></a>
        <a href="ADRESSE DU LIEN LINKEDIN" target="_blank"><img src="../asset/img/logo-linkedin.webp" class="logoreseaux"></a>
    </div>
    <div class="Mail">
        <p> mgcs.corpo@gmail.com </p>
    </div>
</div>
</footer>