

<footer class="footer">
   <div class="footer-container">
    <a href="/index"> <img class="footer-logo"src="/static/img/Logo MGCS.png">  </a>
    <div class="footer-nav">
        <nav>
    <a href="/equipe">NOTRE EQUIPE</a>
    <a href="/services"> NOS SERVICES</a>
    <a href="/contact"> CONTACTS</a>
    <a href="/mentions">MENTIONS LEGALES</a>
    
    </nav>
    <nav class="footer-link">
   
     <a href="https://www.instagram.com/mgcs_prod/" target="_blank"><img src="/static/img/Logo_Instagram.png"></a>
     <a href="https://www.youtube.com/@MGCSPRODUCTION" target="_blank"><img src="/static/img/Youtube.png"></a>
    <a href="https://www.linkedin.com/company/mgcs-production/?originalSubdomain=fr" target="_blank"> <img src="/static/img/Linkedin.png"></a>
    <p>MGCS.CORPO @ GMAIL.COM</p>
  
</nav>
  
    </div>
</div>
</footer>