<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/header.css" rel="stylesheet">

    <title> Accueil </title>
</head>
<header class="header"> 
    <nav>
       <a href="poles.html">NOS POLES</a>
       <a href="equipe.html">NOTRE EQUIPE</a>
       <a href="index.html"> <img src="../asset/img/Logo MGCS.png">  </a>
       <a href="nosservices.html"> NOS SERVICES</a>
       <a href="contact.html"> CONTACTS</a>
    </nav>
</header>
    