
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="/poles">NOS POLES</a>
           <a href="/equipe">NOTRE EQUIPE</a>
           <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
           <a href="/services"> NOS SERVICES</a>
           <a href="/contact"> CONTACTS</a>
        </nav>
    </header>

    