{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    {{template "header.html" .}}
<section class="indexrectangle"> 
    <button class="buttonindex"> Voir nos projets </button>
</section>
<section class="indexrectanglecarrousel">
    <h1 class="indexnosprojets"> Nos Projets </h1>
    <section class="indexcarrousel"> 
        <img src="/static/img/arrow_right_circle_icon_183738.png" alt="flechegauche" class="fleche" id="gauche">
        <img src="/static/img/arrow_right_circle_icon_183738.png" alt="flechedroite" class="fleche" id="droite">
        
      
    </section>
</section>
{{template "footer.html" .}}

</body>
{{end}}
