<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/index.css" rel ="stylesheet">
    <link href="../asset/css/header.css" rel ="stylesheet">
    <title> Accueil </title>
</head>
<body>
<header> 
    <nav>
        <ul class="headernav">
            <li class="headerli"> <a class="headera" href = "/lien">Nos pôles </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Nos équipes </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Nos services </a> </li>
            <li class="headerli"> <a class="headera" href = "/lien">Contacts </a> </li>
        </ul>
    </nav>
    <div class="headerlogo"></div>
</header>
<section class="indexrectangle"> 
    <button class="buttonindex">Voir nos projets</button>
</section>


</body>

