{{define "index"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="/poles">NOS POLES</a>
           <a href="/equipe">NOTRE EQUIPE</a>
           <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
           <a href="/services"> NOS SERVICES</a>
           <a href="/contact"> CONTACTS</a>
        </nav>
    </header>
<section class="indexrectangle"> 
    <button class="buttonindex"> Voir nos projets </button>
</section>
<section class="indexrectanglecarrousel">
    <h1 class="indexnosprojets"> Nos Projets </h1>
    <section class="indexcarrousel"> 
        <img src="/static/img/arrow_right_circle_icon_183738.png" alt="flechegauche" class="fleche" id="gauche">
        <img src="/static/img/arrow_right_circle_icon_183738.png" alt="flechedroite" class="fleche" id="droite">
        
      
    </section>
</section>

<footer class="footer">
    <div class="footer-container">
     <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
     <div class="footer-nav">
         <nav>
     <a href="/equipe">NOTRE EQUIPE</a>
     <a href="/services"> NOS SERVICES</a>
     <a href="/contact"> CONTACTS</a>
     </nav>
     <nav>
     <p>MGCS.CORPO@GMAIL.COM</p>
     <img src="/static/img/Logo Facebook.png">
     <img src="/static/img/Logo_Instagram.png">
 </nav>
     </div>
 </div>
 </footer>

</body>
{{end}}
