{{define "services"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/nosservices.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="/poles">NOS POLES</a>
           <a href="/equipe">NOTRE EQUIPE</a>
           <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
           <a href="/services"> NOS SERVICES</a>
           <a href="/contact"> CONTACTS</a>
        </nav>
    </header>
<section class="nosservices">
    <h1> NOS SERVICES </h1>
    <div class="rectangle-service-row">
<div class="rectangle-service">
    <h3> Picto </h3>
    <h2>   PHOTOGRAPHIE </h2>
    <p>Equitis Romani autem esse filium criminis loco poni ab accusatoribus neque his iudicantibus oportuit neque defendentibus nobis. Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis.</p>
</div>
<div class="rectangle-service">
    <h3> Picto </h3>
    <h2>   AUDIO-VISUELLE </h2>
    <p> Equitis Romani autem esse filium criminis loco poni ab accusatoribus neque his iudicantibus oportuit neque defendentibus nobis. Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis. </p>
</div>
<div class="rectangle-service">
    <h3> Picto </h3>
    <h2>   SON </h2>
    <p> Equitis Romani autem esse filium criminis loco poni ab accusatoribus neque his iudicantibus oportuit neque defendentibus nobis. Nam quod de pietate dixistis, est quidem ista nostra existimatio, sed iudicium certe parentis. </p>
</div>
</div>
</section>

<footer class="footer">
    <div class="footer-container">
     <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
     <div class="footer-nav">
         <nav>
     <a href="/equipe">NOTRE EQUIPE</a>
     <a href="/services"> NOS SERVICES</a>
     <a href="/contact"> CONTACTS</a>
     </nav>
     <nav>
     <p>MGCS.CORPO@GMAIL.COM</p>
     <img src="/static/img/Logo Facebook.png">
     <img src="/static/img/Logo_Instagram.png">
 </nav>
     </div>
 </div>
 </footer>
</body>
{{end}}