{{define "podcast"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/podcast.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    {{template "header.html" .}}
<section class="nospodcast">
    <div class="nospodcast-rectangle">
<a href="/poles">        
    <div class="image-wrapper">
    <img class="normal" src="/static/img/fleche.png">
    <img class="hover" src="/static/img/fleche-rouge.png">
</div>
</a>
<h1> MGCS PODCAST </h1>
<div class="podcast-rectangle-global">
    <div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>


</section>


{{template "footer.html" .}}
</body>
{{end}}