<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/header.css" rel="stylesheet">
    <link href="../asset/css/footer.css" rel="stylesheet">
    <link href="../asset/css/podcast.css" rel="stylesheet">
    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="poles.html">NOS POLES</a>
           <a href="equipe.html">NOTRE EQUIPE</a>
           <a href="index.html"> <img src="../asset/img/Logo MGCS.png">  </a>
           <a href="nosservices.html"> NOS SERVICES</a>
           <a href="contact.html"> CONTACTS</a>
        </nav>
    </header>
<section class="nospodcast">
    <div class="nospodcast-rectangle">
<a href="poles.html"> retour </a>
<h1> MGCS PODCAST </h1>
<div class="podcast-rectangle-global">
    <div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>
<div class="rectangle-podcast-colonne">
    <div class="podcast-rectangle"></div>
    <h2> TITRE DU PODCAST</h2>
</div>


</section>

<footer class="footer">
    <div class="footer-container">
     <a href="index.html"> <img src="../asset/img/Logo MGCS.png">  </a>
     <div class="footer-nav">
         <nav>
     <a href="equipe.html">NOTRE EQUIPE</a>
     <a href="nosservices.html"> NOS SERVICES</a>
     <a href="contact.html"> CONTACTS</a>
     </nav>
     <nav>
     <p>MGCS.CORPO@GMAIL.COM</p>
     <img src="../asset/img/Logo Facebook.png">
     <img src="../asset/img/Logo_Instagram.png">
 </nav>
     </div>
 </div>
 </footer>
</body>