{{define "poles"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/poles.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    {{template "header.html" .}}

<section class ="polesrectangle">
    <h1 class="polesMGCS">MGCS</h1>
    <h2 class="polesh2"> Découvrez nos différents pôles :</h2>
    <div class="polesdiffrectangle">
        <a href="/podcast"  class="polespodcast"> PODCAST</a>
        <a href="/courtmetrage" class="polescourt">   COURT-MÉTRAGE</a>
        <a href="/poles" class="polesclip">  CLIP </a>
    </div>
</section>


{{template "footer.html" .}}
</body>
{{end}}