<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../asset/css/solo.css" rel="stylesheet">
    <link href="../asset/css/header.css" rel="stylesheet">
    <link href="../asset/css/footer.css" rel="stylesheet">
    <title> Notre équipe</title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="poles.html">NOS POLES</a>
           <a href="equipe.html">NOTRE EQUIPE</a>
           <a href="index.html"> <img src="../asset/img/Logo MGCS.png">  </a>
           <a href="nosservices.html"> NOS SERVICES</a>
           <a href="contact.html"> CONTACTS</a>
        </nav>
    </header>
<a href="../templates/equipe.html"><img src="../asset/img/fleche.png"></a>
<div class="conteneur">
    <a class="fleche" href="../templates/solo2.html"><img src="../asset/img/flechegauche.png"></a>
    <a class="photoequipe" href="#mon-ancre"><img src="../asset/img/photo.png"></a>
    <div class="text">
        <p class="nom">GABRIEL</p>
        <p class="surnom">" Le fraté du sud "</p>
        <p class="descriptif"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis <br>egestas sed tempus. Lobortis elementum nibh tellus molestie. Accumsan <br>sit amet nulla facilisi morbi tempus iaculis. Et leo duis ut diam quam nulla <br>porttitor.</p>
    </div>
    <a class="fleche" href="../templates/solo4.html"><img src="../asset/img/flechedroite.png"></a>
</div>
<footer class="footer">
    <div class="footer-container">
     <a href="index.html"> <img src="../asset/img/Logo MGCS.png">  </a>
     <div class="footer-nav">
         <nav>
     <a href="equipe.html">NOTRE EQUIPE</a>
     <a href="nosservices.html"> NOS SERVICES</a>
     <a href="contact.html"> CONTACTS</a>
     </nav>
     <nav>
     <p>MGCS.CORPO@GMAIL.COM</p>
     <img src="../asset/img/Logo Facebook.png">
     <img src="../asset/img/Logo_Instagram.png">
 </nav>
     </div>
 </div>
 </footer>
</body>
</html>