{{define "solo2"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/solo.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />

    <title> Accueil </title>
</head>
<body>
    <header class="header"> 
        <nav>
           <a href="/poles">NOS POLES</a>
           <a href="/equipe">NOTRE EQUIPE</a>
           <a href="/index"> <img src="/static/img/Logo MGCS.png">  </a>
           <a href="/services"> NOS SERVICES</a>
           <a href="/contact"> CONTACTS</a>
        </nav>
    </header>
    <a href="/equipe">    
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche.png">
        <img class="hover" src="/static/img/fleche-rouge.png">
    </div>
    </a>
<div class="conteneur">
    <a class="fleche" href="/solo1">        
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche-gauche.png">
        <img class="hover" src="/static/img/fleche-gauche-rouge.png">
    </div>
    </a>
    <a class="photoequipe" href="#mon-ancre"><img src="/static/img/photo.png"></a>
    <div class="text">
        <p class="nom">GREGORY</p>
        <p class="surnom">" Ouais c'est Greg "</p>
        <p class="descriptif"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis <br>egestas sed tempus. Lobortis elementum nibh tellus molestie. Accumsan <br>sit amet nulla facilisi morbi tempus iaculis. Et leo duis ut diam quam nulla <br>porttitor.</p>
    </div>
    <a class="fleche" href="/solo3">        
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche-droite.png">
        <img class="hover" src="/static/img/fleche-droite-rouge.png">
    </div>
    </a>
</div>

{{template "footer.html" .}}
</body>
</html>
{{end}}