{{define "solo3"}}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content ="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/solo.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/footer.css" />
    <title> Accueil </title>
</head>
<body>
    {{template "header.html" .}}
    <a href="/equipe">    
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche.png">
        <img class="hover" src="/static/img/fleche-rouge.png">
    </div>
    </a>
    <div class="conteneur">
    <a class="fleche" href="/solo2">        
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche-gauche.png">
        <img class="hover" src="/static/img/fleche-gauche-rouge.png">
    </div>
    </a>
    <a class="photoequipe" href="#mon-ancre"><img src="static/img/gabriel.JPG" style="width: 194px;height: 445px;"></a>
    <div class="text">
        <p class="nom">GABRIEL</p>
        <p class="surnom">" Le fraté du sud "</p>
        <p class="descriptif"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod <br>tempor incididunt ut labore et dolore magna aliqua. Fames ac turpis <br>egestas sed tempus. Lobortis elementum nibh tellus molestie. Accumsan <br>sit amet nulla facilisi morbi tempus iaculis. Et leo duis ut diam quam nulla <br>porttitor.</p>
    </div>
    <a class="fleche" href="/solo4">        
        <div class="image-wrapper">
        <img class="normal" src="/static/img/fleche-droite.png">
        <img class="hover" src="/static/img/fleche-droite-rouge.png">
    </div>
    </a>
</div>

{{template "footer.html" .}}
</body>
</html>
{{end}}